* {
    margin: 0;
}

@font-face {
    font-family: 'Norse Bold';
    src: url(Norse-Bold.otf);
}

#title-area {
    background-image: url(./formBG.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#title-TXT {
    font-size: 50px;
    top: 20%;
    font-family: 'Norse Bold', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#title-TXT,
#IMG-credits-TXT {
    text-align: center;
    color: white;
    background-color: rgb(60, 54, 54, 0.5);
    width: 100vw;
    position: absolute;
}

#IMG-credits-TXT {
    font-size: small;
    bottom: 0;
}