@font-face {
    font-family: 'Norse Bold';
    src: url(./Norse-Bold.otf);
}

* {
    margin: 0;
}

body {
    display: flex;
}

img {
   height: 5rem; 
}

#title-area {
    background-image: url(./images/formBG.jpg);
    background-size: cover;
    background-position: center;
    width: 40vw;
    height: 100vh;
    position: relative;
}

#title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20%;
}

#title-TXT {
    font-size: 50px;
    font-family: 'Norse Bold', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#title-container,
#IMG-credits-TXT {
    text-align: center;
    color: white;
    background-color: rgb(60, 54, 54, 0.5);
    width: 40vw;
    position: absolute;
}

#IMG-credits-TXT {
    font-size: small;
    bottom: 0;
}